.header{
    font-size: 20px;
}
#name{
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#linksito{
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0px 0px 0px 30px ;
}    
@media (max-width: 900px) {
    #textlink{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #textlink a{
      margin: 5px 0px 0px 30px ;
      justify-content: center;
    
    }
    #name {
        color: rgb(255, 255, 255);
    }
   
}
@media (max-width: 600px){
    
    #textlink{
        margin: 0px 0px 2px -25px;
        font-size: 15px;
    }
    
}