body{
    font-family: 'Bree Serif', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Code Pro', monospace;
}

.titulo1{
    font-size: 30px;

}
.texto1{
  font-size: 70px;
}

#div-img{
    height: 100vh;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(22, 22, 22));
}
#welcome{
    padding: 20px;
    margin-top:100px ;
    text-align: start;
}

#imgMA{
    background-color: transparent !important;
    width: 388px;
    border:none ;
    margin: 58px -400px 0px 0px ;
    
}
@media (max-width: 1000px){
    #imgMA{
        height:82%;
        width:82% ;
        margin:71px -160px 0px 0px;
    }
 
}
@media (max-width: 900px){
    #imgMA{
        height:95%;
        width:95% ;
        margin:100px -160px 0px 0px;
    }
    .titulo1{
        margin-top: 75px;
        font-size:30px ;
    }
    .texto1{
        font-size: 35px;
    }
}
@media (max-width: 780px){
    #imgMA{
        height:70%;
        width:70% ;
        margin:50px -160px 0px 0px;
    }
    .titulo1{
        margin-top: 75px;
        font-size:30px ;
    }
    .texto1{
        font-size: 45px;
    }
}
@media (max-width: 600px){
    #imgMA{
        margin: 70px 10px 0px 0px;
           height:67%;
            width:67% ;
    }
    .titulo1{
        font-size:25px ;
        margin-top: 95px;
    }
    .texto1{
        font-size: 35px;
    }
    
   
}
@media (max-width: 500px){
        #imgMA{
   
            height:70%;
            width:70% ;
            margin: 85px 30px 0px 0px;
        }
        .titulo1{
            font-size:25px ;
            margin-top: 95px;
        }
    }